{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<main role="main">
   
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Portfolio</h1>
      <p class="lead text-muted">Welcome</p>
      <img src = {% static 'starlight.jpg' %}/>
     
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
          {% for jobs in job.all %}
          
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <a class="nav-link" href="{% url 'detail' jobs.id %}">click here for detail</a>
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src= {{jobs.image.url}} ></img>
            <div class="card-body">
              <div class='col-4'>
                <a href="javascript:{document.getElementById('vote {{jobs.id}}').submit()}">vote {{jobs.vote}}</a>
              </div>
              <form id="vote {{jobs.id}}" method="POST" action="{% url 'vote' jobs.id %}">
                {% csrf_token %}
                <input type="hidden">
              </form>
              <p class="card-text">{{jobs.summary}}</p>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'update' jobs.id %}">update</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link " href="{% url 'delete' jobs.id %}" tabindex="-1" aria-disabled="true">delete</a>
      
              </li>
              
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>

</main>
{% endblock %}
